/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-image:
		url("https://cf.shopee.tw/file/9e3807edc3b9d79b8c6b47056279f890");
	-fx-background-size: cover;
	-fx-font-family:'Comic Sans MS';
}
.button{
	
    -fx-background-radius:5em;        
    -fx-background-color:'white';
    -fx-font-family:'Comic Sans MS';   
    -fx-text-fill:'darkcyan'; 
    -fx-font-size:20;
    -fx-border-radius:5em;
    -fx-border-color:'black';
	-fx-border-width: 3;
    //-fx-border-width: 0 3 3 0;
    //-fx-font-weight:'bold';
}
.label{	
	//-fx-font-weight:'bold';
	-fx-font-family:'Comic Sans MS';	
	-fx-text-fill: 'darkcyan';
	
}
.passwordField{
	-fx-background-color:'white';
	-fx-border-radius:5em;
    -fx-border-color:'black';
	-fx-border-width: 3;
}
